:root {
    --main-color: rgb(206, 137, 73);
    --off-main-color: rgb(243, 222, 202);
    --grey-text: rgb(43, 43, 43);
    --main-bg-color: rgb(240, 240, 240);
    --off-bg-color: rgb(206, 206, 206);
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--off-bg-color);
}


/* Layout styling */
.header {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    gap: 330px;
    -webkit-box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.64); 
    box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.64);
    z-index: 5;
}

.main-content {
    height: 85%;
    background-color: var(--main-bg-color);
    width: 60%;
    margin: auto;
}

.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: var(--main-bg-color);
    width: 60%;
    margin: auto;
}

/* Header styling */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.search-bar {
    outline: 0;
    border: 0;
    border-radius: 20px;
    width: 300px;
    padding: 8px 30px;
    font-size: 14px;
    background-image: url('./images/search.svg');
    background-size: 20px;
    background-position: 5px 6px;
    background-repeat: no-repeat;
}


/* Main-content styling */
.content-wrapper {
    display: none;
    height: 100%;
    width: 100%;
}

.loading-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loading-icon {
    opacity: 10%;
    height: 300px;
}

.location-title {
    color: var(--grey-text);
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Day bar */
.day-bar {
    height: 150px;
    display: flex;
    justify-content: space-between;
    color: var(--grey-text);
}

.day-box {
    box-sizing: border-box;
    height: 100%;
    width: 13.8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--off-main-color);
    cursor: pointer;
}

.box-date {
    font-weight: bold;
}

.box-icon {
    height: 50px;
}

.active {
    background-image: linear-gradient(to top, rgb(255, 123, 0), rgb(255, 123, 0));
    background-size: 100% 4%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Content panel */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.info-panel {
    grid-area: 1 / 1 / 2 / 2;
    height: 180px;
    box-sizing: border-box;
    padding: 10px 20px;
    color: var(--grey-text);
}

.icon-panel {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 20px 40px;
}

.icon-conditions {
    color: var(--grey-text);
    font-weight: bold;
}

.temp-panel {
    grid-area: 2 / 1 / 3 / 2;
}

.feels-panel {
    grid-area: 2 / 2 / 3 / 3;
}

.large-icon {
    height: 100px;
}

/* Temperature panels */
.temp-panel, .feels-panel {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    color: white;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.40); 
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.40);
}

.temp-panel {
    background-color: var(--main-color);
    margin: 0px 5px 0px 10px;
}

.feels-panel {
    background-color: rgb(196, 107, 24);
    margin: 0px 10px 0px 5px;
}

.temp-title {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.temp-highs {
    grid-area: 2 / 1 / 3 / 2;
}

.temp-lows {
    grid-area: 2 / 2 / 3 / 3;
}

.temp-highs, .temp-lows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-text {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 7px;
}

.temp-temp {
    margin-top: 0;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}



